// Body
$body-bg: #fddaf2;

$primary:#c6e6fc;
$success: #e0fdda;
$table-accent-bg:#fcecf7;
$table-bg:rgb(224, 222, 222);
$table-color:rgb(131, 129, 129);
$table-active-color:rgb(255, 255, 203);
$table-hover-bg:#c6f8fc;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
